.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

.page-main {
  flex-grow: 1;
  padding: 20px;
}

.page-section {
  margin: 20px 40px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.project-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.page-footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

.page-header {
  background-color: white;
  text-align: center;
}

.page-header a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
}

.page-header a:hover {
  color: black;
  text-decoration: underline;
}

@media(max-width: 450px){
  .page-section {
    margin: 20px 20px;
  }
}

a{
  color: black;
}